* {
  box-sizing: border-box;
  color: inherit;
}
:root {
  --primary-font: 'Montserrat', sans-serif;
  --regular-weight: 400;
  --bold-weight: 700;
  --primary-color: #cc212a;
  --light-color: white;
  --dark-color: black;
}

body {
  font-family: var(--primary-font);
  font-weight: var(--regular-weight);
}

h1 {
  margin: 50px;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
}

/* MAIN */

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-title {
  font-weight: var(--bold-weight);
  color: var(--primary-color);
  text-transform: capitalize;
}

.main-title span {
  display: block;
  text-align: center;
}
